.level-container{
    color: white;
    h2{
        margin-bottom: 20px;
    }
    div{
        margin-top: 5px;
    }
    label{
        margin-left: 10px;
    }
    label,input{
        cursor: pointer;
    }
    input{
        accent-color: #fabd40;
    }
}